.full-width.svelte-1a1rz4h{width:100%}.spaced-rows.svelte-1a1rz4h{border-collapse:separate;border-spacing:0 0.375em}.normal-weight.svelte-1a1rz4h{font-weight:normal}tr.svelte-1a1rz4h{margin-bottom:1px}tr.svelte-1a1rz4h>td{padding-inline:0.5em;line-height:1}tr.svelte-1a1rz4h>td:first-child{padding-inline-start:1.5em}tr.svelte-1a1rz4h>td:last-child{padding-inline-end:1.5em}.no-space.svelte-m0eqmn{padding:0}.small-max-width.svelte-1lf3nxf{max-width:min(600px, 90%);margin:0 auto}.column.svelte-1lf3nxf{display:flex;flex-direction:column;gap:1.5rem}.padded.svelte-1lf3nxf{padding:2rem}.lined.svelte-1lf3nxf{background:linear-gradient(transparent 1.15em, hsl(217, 24%, 61%) 1.15em);background-size:1em 1.25em}.lined.svelte-1lf3nxf p{line-height:1.25;margin-bottom:1.25em}.lined.svelte-1lf3nxf p:last-child{margin-bottom:0}.max-rarity-width.svelte-wfybjp{display:inline-flex;width:1.667em}.centered.svelte-wfybjp{flex-direction:row;align-items:center;justify-content:center;text-align:center}.isolated.svelte-wfybjp{isolation:isolate}.diamond.svelte-wfybjp{display:inline-block;width:0.7071em;height:0.7071em;border:0.0625em solid;background:var(--icon-bg);transform:rotate(45deg);aspect-ratio:1}.overlap-left.svelte-wfybjp{margin-left:-0.4em}.top.svelte-wfybjp{position:relative;z-index:3}.middle.svelte-wfybjp{position:relative;z-index:2}.bottom.svelte-wfybjp{position:relative;z-index:1}ol.svelte-f7n8t0{padding:0;counter-reset:directions}li.svelte-f7n8t0{list-style:none;margin-bottom:1rem}li.svelte-f7n8t0::before{display:block;content:"Step " counter(directions);font-weight:bold;font-size:var(--font-size-1-star);color:var(--color-text-emphasized);-webkit-text-stroke:0.01em var(--color-bg-medium);margin-bottom:0.25rem;counter-increment:directions}.two-one-column {
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-start;
	flex-wrap: wrap;
	column-gap: 1rem;
	row-gap: 1rem;
}

.two-one-column > :first-child {
	flex: 2 1 calc(2 * var(--container-width) / 5 - 1rem - var(--container-padding));
}

.two-one-column > :last-child {
	flex: 3 1 calc(3 * var(--container-width) / 5 - 1rem - var(--container-padding));
}
.one-column {
	display: flex;
	flex-direction: column;
	gap: calc(var(--spacing-stars, 1) * 1rem);
}
dl.svelte-1e3510l{display:grid;grid-template-columns:auto auto;gap:0.5rem;margin:0}dl.svelte-1e3510l dd{text-align:right}.button {
	--spacing-stars: 2;
	display: inline-block;
	position: relative;
	text-align: center;
	color: var(--color-text-regular);
	cursor: pointer;
	padding-inline: 2em;
	filter: drop-shadow(var(--elevated-shadow));


	/* display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background-color: #fff;
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease-in-out; */
}

a.button {
	text-decoration: none;
}

a.button:hover, a.button:focus {
	text-decoration: none;
}

.button::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(hsla(300, 52%, 50%, 0.925), hsla(296, 55%, 59%, 0.925) 50%, hsla(297, 58%, 53%, 0.925) 54%, hsla(295, 66%, 47%, 0.925));
	clip-path: polygon(var(--triangle-corners-width) 0, calc(100% - var(--triangle-corners-width)) 0, 100% 50%, calc(100% - var(--triangle-corners-width)) 100%, var(--triangle-corners-width) 100%, 0 50%);
	z-index: -1;
}

.button:hover::before,
.button:focus::before {
	filter: brightness(1.12);
}

.button:active::before {
	filter: brightness(0.92);
	background: hsla(295, 66%, 47%, 0.925);
}