*, *::before, *::after {
   box-sizing: border-box;
}

body {
   font-family: "MgOpenCosmetica", serif;
   font-size: var(--font-size-2-star);
   background-color: var(--color-bg-dark);
   color: var(--color-text-regular);
   margin: 0;
   padding: 0;
}

input, textarea {
   font-family: "MgOpenCosmetica", serif;
   font-size: var(--font-size-2-star);
   border-radius: 0;
   padding: 0.125em 0.5em;
}

input:focus {
   outline: 0.1875em solid var(--color-border-selected);
}

* {
   margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
   margin: 0;
   font-weight: normal;
}

p {
   line-height: 1.25;
}

a {
   color: var(--color-text-emphasized);
   text-decoration: underline;
}

a:hover, a:focus {
   color: var(--color-text-regular);
   text-decoration: underline;
}

svg.icon {
	display: block;
	width: 1em;
	height: 1em;
}
