*, *::before, *::after {
   box-sizing: border-box;
}

body {
   font-family: "MgOpenCosmetica", serif;
   font-size: var(--font-size-2-star);
   background-color: var(--color-bg-dark);
   color: var(--color-text-regular);
   margin: 0;
   padding: 0;
}

input, textarea {
   font-family: "MgOpenCosmetica", serif;
   font-size: var(--font-size-2-star);
   border-radius: 0;
   padding: 0.125em 0.5em;
}

a:focus-visible,
button:focus-visible,
input:focus,
img-zoom:focus-within {
   outline: 0.1875em solid var(--color-selected);
   animation: var(--anim-border-focus);
}

@media (prefers-reduced-motion: reduce) {
   a:focus-visible,
   button:focus-visible,
   input:focus,
   img-zoom:focus-within {
      animation: none;
   }
}

* {
   margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
   margin: 0;
   font-weight: normal;
}

p {
   line-height: 1.333;
}

a {
   color: var(--color-text-emphasized);
   text-decoration: underline;
}

a:hover, a:focus {
   color: var(--color-text-regular);
   text-decoration: underline;
}

svg.icon {
	display: block;
	width: 1em;
	height: 1em;
}

button { all: unset; }

img-zoom { display: block; }

@media print {
   body {
      background: none;
      color: black;
   }
}

@page {
   margin: 0.25in 0.5in;
}

/* VIEW TRANSITIONS */

@keyframes slide-from-right {
	from {
		transform: translateX(2em);
		opacity: 0;
	} to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slide-from-left {
	from {
		transform: translateX(-2em);
		opacity: 0;
	} to {
		transform: translateX(0);
		opacity: 1;
	}
}

::view-transition-new(ingredients),
::view-transition-new(recipe-info),
::view-transition-new(directions),
::view-transition-new(interpretation),
::view-transition-new(recipe-list),
::view-transition-new(legal),
::view-transition-new(about) {
	transform: translateX(-2em);
	opacity: 0;
	animation: slide-from-left 0.25s ease-out;
	animation-delay: 0.125s;
	z-index: 1;
}

::view-transition-group(footer) {
	z-index: 10;
}

@media screen and (min-width: 800px) {
	::view-transition-new(recipe-info) {
		transform: translateX(2em);
		opacity: 0;
		animation: slide-from-right 0.25s ease-out;
		animation-delay: 0.125s;
		z-index: 1;
	}
}
